<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header"> 
        <a class="navbar-brand" href="#">Bucket List Adventures</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/bucket-list-adventure" class="homepage">Go Home</a>
        </li>
        <li>
          <a href="/bucket-list-adventure/new" class="createnewad"> Create  New Item</a>
        </li>
        <li >
          <a href="/bucket-list-adventure/new" class="createnewad"> Create  New User</a>
        </li>
        <li >
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li >
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li >
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li >
          <a href="#">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    <a><button class="btn btn-default">Login</button></a>
    <a><button class="btn btn-default">Sign Up</button></a>
  </div>
  </nav>