<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure Time</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1><span class="headingTitle" >Lets Go Adventure Hunting!</span></h1>
    </header>
    <div class="top">

      <a href="/bucket-list-adventure/new"> Create A New Bucket List Adventure!</a>
      <nav class="creds">
        <a><button>Login</button></a>
        <a><button>Sign Up</button></a>
      </nav>
  </div>
    <div class="container">
      <ul class="alldata">
        <% for (let ad of ads ) { %>
          <li class="item">
            <a href="/bucket-list-adventure/<%=ad._id%>">
              <img src="<%=ad.img%>" class="iadventure">
            </a>
            <h4><%= ad.title %></h4>
          </li>
       <% } %>
      </ul>
    </div>
  </body>
</html>
