<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <header class="oheader">
      <span class="firstTitle">
        <h1><span class="headingTitle" >Your New Adventure</span></h1>
      </span>
    </header>
    <div class="ocontainer">
        <form action="/bucket-list-adventure/" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title"  /><br>
        <label for="description">description:</label>
        <input type="text" name="description"/><br>
        <label for="why">Why:</label>
        <input type="text" name="why" /><br>
        <label for="physicalNecessities">Physical Necessities:</label>
        <input type="text" name="physicalNecessities" /><br>
        <label for="financialNecessities">Financial Necessities:</label>
        <input type="text" name="financialNecessities" /><br>
        <label for="desiredLocation">Desired Location:</label>
        <input type="text" name="desiredLocation" /><br>
        <label for="img">Image URL:</label>
        <input type="text" name="img" /><br>
        <br/>
        <br>
        <input type="submit" value="Submit">
        </form>
        <a href="/bucket-list-adventure">
            <button type="button" name="button" >
            Back
            </button>
        </a>
    </div>
  </body>
</html>
