<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <header class="oheader">
      <span class="firstTitle">
        <h1><span class="headingTitle" >Your New Adventure</span></h1>
      </span>
    </header>
    <div class="ocontainer row">
        <form action="/bucket-list-adventure/" method="POST">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label for="title">Title:</label><br><br>
            <label for="description">description:</label><br><br>
            <label for="why">Why:</label><br><br>
            <label for="physicalNecessities">Physical Necessities:</label><br><br>
            <label for="financialNecessities">Financial Necessities:</label><br><br>
            <label for="desiredLocation">Desired Location:</label><br><br>
            <label for="img">Image URL:</label><br><br>
          </div>
          <div class="col-md-3">
            <input type="text" name="title" /><br><br>
            <input type="text" name="description"/><br><br>
            <input type="text" name="why" /><br><br>
            <input type="text" name="physicalNecessities" /><br><br>
            <input type="number" name="financialNecessities" /><br><br>
            <input type="text" name="desiredLocation" /><br><br>
            <input type="text" name="img" /><br><br>
            <br/>
            <br>
            <input class="btn btn-default" type="submit" value="Submit">
            <br>
            <br>
            <br>
            <br>
            <a href="/bucket-list-adventure">
              <button class="btn btn-default" type="button" name="button" >Back</button>
            </a>
          </div>
        </form>
    </div>
  </body>
</html>
