*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://wallpapershome.com/images/wallpapers/waterfall-3840x2160-5k-4k-wallpaper-hills-rocks-6525.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.iheader{
    font-size: x-large;
    font-family: 'Merienda', cursive;
    text-align: center;
    text-shadow: 3px 3px 5px white;
    height: 94vh;
    width: 100vw;
}

.down-btn{
    bottom: 0;
    position: absolute;
    /* min-width: 30px; */
    margin: 0px 45vw;
    filter: invert(1);

    -webkit-animation: bounce .5s infinite alternate;
    -o-animation: bounce .5s infinite alternate;
    -moz-animation: bounce .5s infinite alternate;
    animation: bounce .5s infinite alternate;
}
.sub-main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(13,auto);
    text-align: center;
}
/* .alldata{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */
.i{
    list-style: none;
    text-align: center;
    position: relative;
}
.itext{
    clear: left;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    font-family: 'Caveat';
    text-shadow: 1px 1px 1px white;
    font-size: xx-large;
    color: black;
}
.itback{
    background-color: rgba(0,0,0,.3);
}
.iadventure{
    /* height: 70%; */
    width: 100%;
    border: 2px solid #52489C;
    /* border-radius: 4px; */
    /* box-shadow: 4px 4px 15px #EBEBEB; */
}

.oheader{
    font-size: x-large;
    font-family: 'Merienda', cursive;
    text-align: center;
    text-shadow: 3px 3px 5px white;
}
.ocontainer{
    text-shadow: 1px 1px 2px white;
    font-size: large;
    color: purple;
    text-align: center;
}


/* .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
 */




body::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar-thumb {
background: rgba(255, 255, 255, 0.5);
border-radius: 5px;
}

@-webkit-keyframes bounce {
    to { transform: scale(1.2); }
  }
  @-o-keyframes bounce {
    to { transform: scale(1.2); }
  }
  @-moz-keyframes bounce {
    to { transform: scale(1.2); }
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  }